@font-face {
  font-family: 'Euclid Flex';
  src: url(fonts/EuclidFlex-Light.woff2) format("woff2"),
  url(fonts/EuclidFlex-Light.woff) format("woff"),
  url(fonts/EuclidFlex-Light.ttf) format("truetype");
  font-weight:300;
  font-style:normal
}
@font-face {
  font-family: 'Euclid Flex';
  src: url(fonts/EuclidFlex-Bold.woff2) format("woff2"),
  url(fonts/EuclidFlex-Bold.woff) format("woff"),
  url(fonts/EuclidFlex-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal
}

:root {
  color: rgba(255, 255, 255, 0.87);
  font-family: 'Euclid Flex', sans-serif;
  font-weight: 300;
  font-size: 16px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  height: 100%;
}

body {
  background-color: #242424;
  margin: 0;
  min-width: 320px;
  height: 100%;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.header-text {
  background-color: transparent;
  color: #fff;
  font-size: 1.25rem;
  display: flex;
  align-content: center;
  justify-content: space-between;
  font-weight: 700;
  padding: 0.5rem 1rem;
}

.footer-text {
  background-color: transparent;
}

input[type="text"] {
  width: 100%;
  background: transparent;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: #fff;
  outline: none;
}

hr {
  margin: 0;
}

.spiral-wrapper {
  display: flex;
  place-items: center;
  height: 100%;
  flex: 1;
}

#spiral-text {
  width: min(80vw, 90vh);
  margin: auto;
}

.church-name {
  letter-spacing: 2px;
  text-transform: uppercase;
}
