@font-face {
  font-family: 'Euclid Flex';
  src: url(fonts/EuclidFlex-Light.woff2) format("woff2"),
  url(fonts/EuclidFlex-Light.woff) format("woff"),
  url(fonts/EuclidFlex-Light.ttf) format("truetype");
  font-weight:300;
  font-style:normal
}
@font-face {
  font-family: 'Euclid Flex';
  src: url(fonts/EuclidFlex-Bold.woff2) format("woff2"),
  url(fonts/EuclidFlex-Bold.woff) format("woff"),
  url(fonts/EuclidFlex-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal
}

:root {
  color: rgba(255, 255, 255, 0.87);
  font-family: 'Euclid Flex', sans-serif;
  font-weight: 300;
  font-size: 16px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  height: 100%;
}

body {
  background-color: #242424;
  margin: 0;
  min-width: 320px;
  height: 100%;
  overflow: hidden;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.header-text {
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: transparent;
  color: #fff;
  font-size: 1.25rem;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  font-weight: 700;
  padding: 0.5rem 1rem;
  text-align: center;
  text-transform: uppercase;
}

.header-text > span:nth-child(1),
.header-text > span:nth-child(2) {
  display: none;
}

input[type="text"] {
  font-size: 1.25rem;
  width: 100%;
  background: transparent;
  border: none;
  color: #fff;
  outline: none;
  margin-left: 0.25rem;
}
input[type="text"]::placeholder {
  font-family: 'Euclid Flex', sans-serif;
}

hr {
  margin: 0;
  position: absolute;
  width: 100%;
  bottom: 42px;
}

.spiral-wrapper {
  display: flex;
  place-items: center;
  height: 100%;
  flex: 1;
  position: relative;
}

#spiral-text {
  width: min(80vw, 80vh);
  margin: auto;
}

#random-notification {
  position: absolute;
  bottom: 0.5rem;
  left: 0.5rem;
  opacity: 0;
  transition: opacity 0.5s linear;
}

.church-name {
  letter-spacing: 2px;
  text-transform: uppercase;
}

.feather {
  width: 1em;
  height: 1em;
  display: inline-block;
}

.input-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.result-container {
  flex: 1;
  position: relative;
}
.detail-wrapper {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.year {
  font-weight: bold;
  font-size: clamp(8rem, 33vw, 20rem);
  opacity: 0.1;
}
.person-detail {
  position: absolute;
  top: 60%;
  left: 10%;
  width: clamp(250px, 75vw, 400px);
}
.name {
  color: #ee9c11;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1;
  text-transform: uppercase;
}

@media (min-width: 800px) {
  .header-text {
    top: 0;
    bottom: initial;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    text-align: initial;
  }

  .header-text > span:nth-child(1),
  .header-text > span:nth-child(2) {
    display: inline;
  }

  hr {
    top: 42px;
    bottom: initial;
  }

  .footer-text input {
    font-size: 1rem;
  }

  .person-detail {
    left: 40%;
  }
}